{% extends 'base.html.twig' %}

{% block title %}
    todo afficher le titre de la série | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo: afficher le titre et détails de la série</h2>

    {# todo: Afficher toutes les infos de la série #}

{% endblock %}

